<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
        <script type=text/javascript>
            $(function() {
                
              
            });
        </script>
        <style>
            
        </style>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}" />
        <script src= "{{ url_for('static',filename='myscripts.js') }}" ></script>
    </head>

    <body class="container bdy">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#9ebdda">


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><img src="static/logo.png" /></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/Dashboard">Home <span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Masters
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/DoctorListing">Doctors Info</a>
          <a class="dropdown-item" href="/PatientListing">Patient Info</a>

        </div>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="/EHRRecordListing">EHR Record</a>
              </li>
                <li class="nav-item active">
                <a class="nav-link" href="/BlindedFileGenerationListing">Generate Blinded File</a>
              </li>
                <li class="nav-item active">
                <a class="nav-link" href="/SanitizedFileGenerationListing">Generate Sanitized File</a>
              </li>
                <li class="nav-item active">
                <a class="nav-link" href="/SendToCloudListing">Send to Cloud</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/Reports">Reports</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  System
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/UserListing">User</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/LogOut">Logout</a>
              </li>
            </ul>

          </div>
        </nav>
    <br/>
        <div class="content container">
            {% block bodydata %}

                    {% endblock  %}
        </div>
        
        
        <br/>
        
    </body>
</html>